cool.carlosbueno.xyz {
    @api path /api/*
    reverse_proxy @api api:3000
    reverse_proxy frontend:80
}

backend.carlosbueno.xyz {
    reverse_proxy convex-backend:3210
}

api.carlosbueno.xyz {
    reverse_proxy convex-backend:3211
}

dashboard.carlosbueno.xyz {
    reverse_proxy convex-dashboard:6791
}
